<h2>This is the game!</h2>

<h4 ng-show="firstPlayer"><a ng-click='startGame()'>Start game</a></h4>
<h4><a ng-click='clearLocal()'>Clear Local Storage</a></h4>
<a ui-sref="playerView">Go to player-view<span class="glyphicon glyphicon-circle-arrow-right"></span></a>
<h4 ng-show="!firstPlayer">Waiting for first player to start game</h4>
<h5>this is the room name: {{roomname}}</h5>

<p>My name: {{me.name}}</p>
<p>My board: {{me.board.name}}</p>
<p>My money: {{me.money}}</p>
<p>My military tokens: {{me.military}}</p>
<ul><p>My built cards:</p>
	<li ng-repeat='card in me.built'>{{card.name}}</li>
</ul>

<ul><p>My hand:</p>
	<li ng-repeat='card in myHand'><a ng-click='selectCard(card)'>{{card.name}}</a></li>
</ul>

<p>this is the players object: {{players}}</p>