<div class="background" ng-style="background">
	<div id='wait-container'>
		<div ng-hide='currentlyPlaying' id='waiting-screen'>
			<h1>Seven Cities</h2>

			<h4 ng-show="firstPlayer"><a ng-click='startGame()'>Start game</a></h4>
			<div ng-show='err' class="alert alert-warning alert-dismissible fade in col-sm-2" role="alert">
			  <button type="button" ng-click='dismiss()' class="close" data-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
				<p>{{err}}</p>
			</div>
			<h4><a ng-click='clearLocal()'>*  *  *</a></h4>
			<p>In room {{roomname}}</p>

			<p>My name: {{playername}}</p>
			<p>Currently in room: {{inRoom}}</p>
			<h4 ng-show="!firstPlayer">Waiting for first player to start game</h4>
			<div id='loading-img'>
				<img src='img/loading.gif'>
			</div>
		</div>
	</div>
	<div ng-show='currentlyPlaying' id='player-view'>
		<nav class="navbar navbar-static-top">
			<h4 class="pull-left"><a ng-click='clearLocal()'>*</a></h4>
			<!-- <a ui-sref="home"><span class="glyphicon glyphicon-home pull-left"></span></a> -->
			<board-name class='pull-left'></board-name>
			<div class='player-info pull-left'><h4>My name: {{me.name}} <br> Current era: {{currentEra}}</h4></div>
			<other-players left='leftNeighbor' right='rightNeighbor' other='nonNeighbors' class="text-center"></other-players>
			<div ng-show='waitingOn' class='already-played pull-left'><h4>Already played: {{ waitingOn }}<h4></div><br>
			<tokens class="pull-right"></tokens>
		</nav>

		<div class="player-view-container container-fluid">
			<war-results></war-results>
			<div class="row">	
				<div class="col-xs-8">
					<div ng-hide="submitted" class='hand'>
						<ul>
							<li ng-repeat="card in myHand" ng-click='selectCard(card)'>
								<img ng-src='img/{{card.picture}}'>
							</li>
						</ul>
					</div>
				</div>

				<div ng-show='playOptions' class="col-xs-4">
					<selected-card card='cardSelection' playOptions='playOptions'></selected-card>
				</div>
			</div>

			<div class="clearfix"></div>

			<div id="built-cards">
				<div ng-click="expandPile(pile)" ng-class="{expand: pile === clickedPile}" class="pile" ng-repeat="pile in me.builtView" ng-click>
					<ul>
						<li ng-repeat="card in pile">
							<img class="pile-card-img" ng-src='{{card}}'>
						</li>
					</ul>
				</div>
			</div>

			<br style="clear:both" />

			<div class="board-footer">

				<div class="resources pull-left">
					<img ng-src='/img/board_resources/{{me.board.name}}.png'>
				</div>

				<div class='wonders'>
					<div ng-click="expandPile(wonder)" ng-repeat="wonder in wonderOptions" ng-class="{wonderexpand: wonder === clickedPile}" class="test">
						<img ng-style='set_wonder(wonder)' ng-src='/img/wonders/{{me.board.name}}_{{wonder}}.png'>
					</div>
				</div>

				<!-- <div class="chat-box pull-right"> -->
			</div>
			<chat></chat>

		</div>
	</div>
</div>

