<!-- <script type="text/ng-template" id="myModalContent.html">
 
    <div ng-style="background" class="modal-body modal-background">
       <h1> {{neighbor}} </h1>
HI

    </div>
 
</script> -->

<!-- <script type="text/ng-template" id="theModal">
    <div class="modal-header">
        <h3 class="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body">
        


    </div>
    <div class="modal-footer">
        <!-- <button class="btn btn-primary" type="button" ng-click="ok()">OK</button> -->
<!--         <button class="btn btn-warning" type="button" ng-click="console.log('fdian')">Cancel</button>
    </div>
    </script> --> 