<div class="row">
    <h3>Chosen Card</h3>
    <div class="col-xs-4">
        <img src="img/{{cardSelection.picture}}">
    </div>
    <div class="col-xs-8">
        <div ng-repeat='option in playOptions track by $index'>
            <a ng-click="submitChoice(option)">{{option.msg || option}}</a>
        </div>
        <div ng-repeat="resource in tradeOptions">
            {{resource}}: <input type="radio" ng-show="resource.left">left<br>
                          <input type="radio" ng-show="resource.right">right<br>
        </div>
    </div>
</div>
