<div class="row play-options">
    <h3>Chosen Card</h3>
    <div class="col-xs-4">
        <img src="img/{{cardSelection.picture}}">
    </div>
    <div class="col-xs-8">
        <div ng-repeat='option in playOptions track by $index'>
            <a ng-click="submitChoice(option)">{{option.msg || option}}</a>
        </div>
        <form ng-show="tradeOptions">
          Trade for Resources:
          <div ng-repeat="resource in tradeOptions">
            {{resource[0][0]}}
<!--            <div ng-repeat="direction in resource[1]">-->
               <input name="{{$index}}" type="radio" ng-model="trade[$index]" ng-value="{{['left', resource[0][0]]}}" ng-show="resource[1][0] === 'left'"><span ng-show="resource[1][0] === 'left'">Left</span>
               <input name="{{$index}}" type="radio" ng-model="trade[$index]" ng-value="{{['right', resource[0][0]]}}" ng-show="resource[1][0] === 'right' || resource[1][1] === 'right'"><span ng-show="resource[1][0] === 'right' || resource[1][1] === 'right'">Right</span><br>
<!--            </div>-->
          </div>
          <div><a ng-click='submitTrade()'>submit trade</a></div>
        </form>
        <form ng-show="wonderTrades">
          Build A Wonder:
            <div ng-repeat="wt in wonderTrades">
              {{wt[0][0]}}
<!--
              <div ng-repeat="direction in wt[1]">
                 <input type="radio" ng-model="tradeForWonder[$index]" value="{{wt[0][0]}}">{{direction}}<br>
              </div>
-->
                <input name="{{$index}}" type="radio" ng-model="tradeForWonder[$index]" ng-value="{{['left', wt[0][0]]}}" ng-show="wt[1][0] === 'left'"><span ng-show="wt[1][0] === 'left'">Left</span>
               <input name="{{$index}}" type="radio" ng-model="trade[$index]" ng-value="{{['right', wt[0][0]]}}" ng-show="wt[1][0] === 'right' || wt[1][1] === 'right'"><span ng-show="wt[1][0] === 'right' || wt[1][1] === 'right'">Right</span><br>
            </div>
            <div><a ng-click='submitWonderTrade()'>Build Wonder</a></div>
        </form>
    </div>
</div>