<nav class="navbar navbar-static-top">
		<h4><a ng-click='clearLocal()'>Clear Local Storage</a></h4>
		<h4>Neighbor name: {{neighbor.name}}</h4>
		<a ui-sref="home"><span class="glyphicon glyphicon-home pull-left"></span></a>
		<board-name class='pull-left'></board-name>
		<tokens class="pull-right"></tokens>
	</nav>

	<div class="player-view-container container">
		<div class="clearfix"></div>

		<div id="built-cards">
			<div ng-click="expandPile(pile)" ng-class="{expand: pile === clickedPile}" class="pile" ng-repeat="pile in neighbor.builtCards" ng-click>
				<ul>
					<li ng-repeat="card in pile">
						<img class="pile-card-img" src='{{card.image}}'>
					</li>
				</ul>
			</div>
		</div>

		<br style="clear:both" />

		<div class='wonders'>
			<div ng-click="expandPile(wonder)" ng-repeat="wonder in neighbor.wonderOptions" ng-class="{wonderexpand: wonder === clickedPile}" class="test">
				<img src='/img/wonders/{{neighbor.board.name}}_{{wonder}}.png'>
			</div>
		</div>

	</div>