<div id='container'>
	<section id="home">
		<h1 id='title'>Seven Cities</h1>
		<h3 id='subtitle'>A Multiplayer strategy game</h3>
	 <!--  <button id='choosegame' ng-click='showin()' class='btn btn-option'><h2>Two Player</h2></button> -->
	  <div id='allthings' class='text-center'>
		  <div id='inputs'>
			  <div id='room'>
			  	<label>Game name: <input id='roomin' type='text', name='roomName' ng-model='chooseroomname' required></label>
			  </div>
			  <div id='name'>
			  	<label>Player name: <input id='playerName' type='text', name='playerName' ng-model='choosename' required></label>
			  </div>
			</div>
		  <div id='joinbox'>
		  	<button id='joingame' ng-click='twoPlayer()' class='lined thin'><h2>Join</h2></button>
		  </div>
		</div>
	</section>
</div>