* {
  box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,900,700);
@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);

body {
  background: #fdfdfd;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;
  color: #1e1e1e;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1, h2, h3 {
	font-family: 'Cinzel Decorative', cursive;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  height: 100%;
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'player-view/main';

a {
  cursor: pointer;
}