<nav class="navbar navbar-static-top">
	<board-name class='pull-left'></board-name>
	<other-players class="text-center"></other-players>
	<tokens class="pull-right"></tokens>
</nav>

<div class="player-view-container container">

	<div class="row">	
		<div class="col-xs-8">
			<div class='hand'>
				<ul>
					<li ng-repeat="card in hand">
						<img src='{{card.image}}'>
					</li>
				</ul>
			</div>
		</div>

		<div class="col-xs-4">
			<selected-card></selected-card>
		</div>
	</div>

	<div class="clearfix"></div>

	<div id="built-cards">
		<div id="raw-resources">
			<ul>
				<li ng-click="expandCard(resource)" ng-repeat="resource in rawResources" ng-class="{expand: resource === clickedCard}">
					<img src='{{resource.image}}'>
				</li>
			</ul>
		</div>
		<div id="processed-resources">
			<ul>
				<li ng-click="expandCard(resource)" ng-repeat="resource in processedResources" ng-class="{expand: resource === clickedCard}">
					<img src='{{resource.image}}'>
				</li>
			</ul>
		</div>
		<div id="trade">
			<ul>
				<li >
					<img src='img/3_arena_3.png'>
				</li>
				<li class="card-2">
					<img src='img/3_arena_3.png'>
				</li>
				<li class="card-3">
					<img src='img/3_arena_3.png'>
				</li>
				<li class="card-4">
					<img src='img/3_arena_3.png'>
				</li>
				<li class="card-5">
					<img src='img/3_arena_3.png'>
				</li>
			</ul>
		</div>
		<div id="technology">
			<ul>
				<li >
					<img src='img/3_arena_3.png'>
				</li>
				<li  class="card-2">
					<img src='img/3_arena_3.png'>
				</li>
				<li  class="card-3">
					<img src='img/3_arena_3.png'>
				</li>
				<li  class="card-4">
					<img src='img/3_arena_3.png'>
				</li>
				<li  class="card-5">
					<img src='img/3_arena_3.png'>
				</li>
			</ul>
		</div>
		<div id="military">
			<ul>
				<li >
					<img src='img/3_arena_3.png'>
				</li>
				<li  class="card-2">
					<img src='img/3_arena_3.png'>
				</li>
				<li  class="card-3">
					<img src='img/3_arena_3.png'>
				</li>
				<li  class="card-4">
					<img src='img/3_arena_3.png'>
				</li>
				<li  class="card-5">
					<img src='img/3_arena_3.png'>
				</li>
			</ul>
		</div>
		<div id="victory">
			<ul>
				<li >
					<img src='img/3_arena_3.png'>
				</li>
				<li  class="card-2">
					<img src='img/3_arena_3.png'>
				</li>
				<li  class="card-3">
					<img src='img/3_arena_3.png'>
				</li>
				<li  class="card-4">
					<img src='img/3_arena_3.png'>
				</li>
				<li  class="card-5">
					<img src='img/3_arena_3.png'>
				</li>
			</ul>
		</div>
		<div id="guild">
			<ul>
				<li >
					<img src='img/3_arena_3.png'>
				</li>
				<li  class="card-2">
					<img src='img/3_arena_3.png'>
				</li>
				<li  class="card-3">
					<img src='img/3_arena_3.png'>
				</li>
				<li  class="card-4">
					<img src='img/3_arena_3.png'>
				</li>
				<li  class="card-5">
					<img src='img/3_arena_3.png'>
				</li>
			</ul>
		</div>
	</div>

	<br style="clear:both" />

	<div class='wonders'>
		<div class="test"></div>
		<div class="test"></div>
		<div class="test"></div>
	</div>

	<div class="chat-box pull-right"></div>

</div>

<!-- <div class='board text-center'>
	<img src='img/b_olympia.png'>
</div> -->

<!-- <div class='wonders text-center'>
	<img src='img/3_back.png'>
	<img src='img/3_back.png'>
	<img src='img/3_back.png'>
</div>